/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/articles/[id]/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.page_main__QxM17 {
  max-width: 640px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.page_back__mz1Iw {
  display: inline-block;
  font-size: 0.875rem;
  color: #666;
  text-decoration: none;
  margin-bottom: 2rem;
}

.page_back__mz1Iw:hover {
  color: #111;
}

.page_title____Cvb {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 1.5rem;
}

.page_content__3B1c1 {
  font-size: 1rem;
  line-height: 1.75;
  color: #333;
  white-space: pre-wrap;
}

.page_error__LiHqT {
  color: #cf222e;
  font-size: 0.925rem;
}

